[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rpi.gpio" = "*"
neural-network = {editable = true, git = "https://github.com/javidahmed64592/neural-network"}
numpy = "*"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.11"
