[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rpi.gpio" = "*"
neural-network = {editable = true, git = "https://github.com/javidahmed64592/neural-network"}
numpy = "*"
flask = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.11"

[scripts]
ruff = "python -m ruff check ."
